body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
}

body#tinymce.wp-editor a {
    color: #4CA6CF;
}

@media (min-width: 768px) {
    .elementor-image-gallery .gallery-columns-3 .gallery-item {
        max-width: 100%;
    }
}